@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Arvo', serif;

}

/* start: css global */

.opacity-04 {
    opacity: 0.4;
}

.bg-202020 {
    background-color: #202020;
}

/* end: css global */

/* start: style navbar */

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
    transition: 0.2s;
}

.navbar-light .navbar-brand {
    color: rgb(255 255 255);
    transition: 0.2s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(218, 218, 218);
}

.navbar-light .navbar-brand:hover {
    color: rgb(218, 218, 218);
}

.bg-nav-custom {
    background-color: #202020;
}

.btn-cn-bg {
    background-color: #52b5af;
    transition: 0.5s;
}

.btn-cn-bg:hover {
    background-color: #52b5af;
    color: #ffffff;
    border: 1px solid white;
}

nav button.navbar-toggler {
    border-color: #52b5af;
    border: 1px;
    background-color: #52b5af;
    color: transparent;
}

/* end: style navbar */
/* Start: style banner */


.bg-banner{
    background-color: #202020;
    background: url(../img/bg-banner.jpg);
    background-size: cover;
    opacity: 1;
    background-attachment: fixed;}

.point {
    background: url(../img/point.png)repeat 0px 0px;
    background-size: 6px;
    opacity: 1;
}

/* end: style banner */
